---
import { TEXT } from "../../../config/globalStyles";

interface Props {
    title: string;
    className?: string;
}

const { title, className = '' } = Astro.props;
---

<h1 class={`${TEXT.TEXT_DEFAULT} font-semibold items-center text-3xl lg:text-4xl ${className}`}>
    {title}
</h1>
