---
interface Props {
    title: string;
    level?: 1 | 2;
    className?: string;
}
const { title, level = 2, className = "" } = Astro.props;
const Tag = `h${level}` as "h1" | "h2";
const hasIcon = Astro.slots.has("icon");
---

<Tag
    class:list={[
        "text-gray-700",
        "font-semibold",
        level === 1
            ? "text-3xl lg:text-4xl"
            : hasIcon
                ? "text-lg lg:text-2xl flex gap-x-3 items-center"
                : "text-lg lg:text-2xl",
        className,
    ]}
>
    {hasIcon && (
        <span aria-hidden="true">
            <slot name="icon" />
        </span>
    )}
    {title}
</Tag>
