---
import { COLORS } from "../../../config/globalStyles";

const { className = "", text = "" } = Astro.props;
---

<p class={`${COLORS.PARAGRAPH_GRAY_TEXT} ${className}`}>
    <slot>{text}</slot>
</p>
