---
import { TEXT } from "../../../config/globalStyles";

const { className = "", text = "" } = Astro.props;
---

<p class={`${TEXT.TEXT_DEFAULT} leading-relaxed text-balance text-sm lg:text-base lg:leading-loose ${className}`}>
    <slot>{text}</slot>
</p>
