export const Footer = () => {
    return (
        <footer className="bg-gray-100 py-10 border-t border-gray-300">
                {/* Línea divisoria */}
                <div className="border-t border-gray-300 mt-8 pt-6 text-center">
                    <p className="text-sm text-gray-500">© 2025 Technology Blueleaf. Todos los derechos reservados.</p>
                </div>
        </footer>
    );
};
