:root {
    --background-color: #f6f7f9;
    --text-color: #23272f;
}

.dark {
    --background-color: #23272f;
    --text-color: #f6f7f9;
}

html {
    font-family: 'Onest Variable', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
}

@media(prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto;
    }
}