---
import { COLORS } from "../config/theme";

// Import COMPONENTS
import SectionContainer from '../components/structuresContainer/SectionContainer.astro';
import GridContainer from '../components/structuresContainer/GridContainer.astro';
import Badge from '../components/Badge.astro';
import Experience from '../components/Experience.astro';
import CardProjects from '../components/CardProjects.astro';
import TechnologyJob from '../components/TechnologyJob.astro';
import Paragraph from '../components/ui/text/Paragraph.astro';
import H4TitleBold from '../components/ui/text/H4TitleBold.astro';

// Import SVG
import Briefcase from '../../public/svg/Briefcase.astro';
import CodeBracket from '../../public/svg/CodeBracket.astro';
import Technology from '../../public/svg/Technology.astro';
import Person from '../../public/svg/Person.astro';

import Layout from '../layouts/Layout.astro';
import H3TitleBold from '../components/ui/text/H3TitleBold.astro';
import ContactItem from "../components/contact/ContactItem.astro";

const ABOUTME = [
    {
        paragraph: `
		   	¡Hola, ¿como están? Soy un desarrollador Fullstack con un fuerte enfoque en Frontend, trabajando con React, Tailwind, JavaScript y TypeScript. 
			Me encanta crear interfaces atractivas, fluidas y accesibles, pero mi curiosidad no se queda ahí.
			También me sumerjo en el Backend, trabajando con Node.js, Express y MySQL, optimizando APIs y asegurando que cada pieza del sistema encaje con precisión. 
			También cuento con experiencia en servidores, configurando entornos y asegurando que todo corra sin problemas.
  		`,
    },
]
---

<Layout 
	title="Porfolio personal - Desarrollador y Programador Web."
	description="Especializado en crear todo tipo de aplicaciones."
>
	<main>
		<SectionContainer id="jjc-about-me">
			<GridContainer>
				<Badge text='Disponible para trabajar' />				
				<H3TitleBold title="Juan José Coppede"/>
			</GridContainer>		

			<Paragraph>
				{ABOUTME.map((item) => item.paragraph)}
			</Paragraph>			
		</SectionContainer>

		<SectionContainer id="jjc-experience">
			<GridContainer>
				<H4TitleBold title="Experiencia laboral"><Briefcase slot="icon" class=`${COLORS.ICON_SIZE}` /></H4TitleBold>
				<Experience />
			</GridContainer>
		</SectionContainer>

		<SectionContainer id="jjc-technology">
			<GridContainer>
				<H4TitleBold title="Tecnologías y habilidades"><Technology slot="icon" class=`${COLORS.ICON_SIZE}` /></H4TitleBold>
				<TechnologyJob />
			</GridContainer>
		</SectionContainer>

		<SectionContainer id="jjc-projects">
			<GridContainer>
				<H4TitleBold title="Proyectos creados"><CodeBracket slot="icon" class=`${COLORS.ICON_SIZE}` /></H4TitleBold>
				<CardProjects />
			</GridContainer>
		</SectionContainer>
		<SectionContainer id="jjc-contact">
			<GridContainer>
				<H4TitleBold title="¿Como encontrarme?"><Person slot="icon" class=`${COLORS.ICON_SIZE}` /></H4TitleBold>
				<ContactItem />
			</GridContainer>
		</SectionContainer>
	</main>
</Layout>

<style>
	.movement {
		animation-name: movement-animation; /* Nombre del elemento @keyframes */
		animation-duration: 2.3s; /* Acelera o relentiza el movimiento */
		animation-iteration-count: infinite; /* Cantidad de agitación */
		transform-origin: 75% 75%;
		display: inline-block;
  }
  @keyframes movement-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
  }
</style>
