---
// Import COMPONENTS
import SectionContainer from '../components/structuresContainer/SectionContainer.astro';
import Badge from '../components/Badge.astro';
import Experience from '../components/Experience.astro';
import CardProjects from '../components/CardProjects.astro';
import TechnologyJob from '../components/TechnologyJob.astro';
import About from '../components/AboutMe.astro';

// Import SVG
import Briefcase from '../../public/svg/Briefcase.astro';
import CodeBracket from '../../public/svg/CodeBracket.astro';
import Technology from '../../public/svg/Technology.astro';
import Person from '../../public/svg/Person.astro';

import Layout from '../layouts/Layout.astro';
---

<Layout 
	title="Porfolio personal - Desarrollador y Programador Web."
	description="Especializado en crear todo tipo de aplicaciones."
>
	<main>
		<SectionContainer id="first">
			<div class="flex gap-4 items-center mb-4">
				<img class="rounded-full shadow-lg size-16 mb-4" 
					src="../../img/programmer-dalle.webp" 
					alt="JC photo" 
				/>
				<Badge>Disponible para trabajar</Badge>				
			</div>
			<h1 class="text-dark text-4xl font-bold flex flex-row gap-x-4 pb-4">
				Hola, soy Juan
				<span role="img" class="text-3xl movement">👋</span>
			</h1>				
			<h2 class="text-2xl text-wrap">
				<span>Soy </span>
				<strong><span class="text-blue-500">Desarrollador Web FrontEnd</span></strong> y <strong><span class="text-blue-500">BackEnd</span></strong>
				<span>nacido en la provincia de La Rioja, Argentina. Actualmente trabajando en la empresa de Edelar S.A</span>
			</h2>
		</SectionContainer>

		<SectionContainer id="experience">
			<h2 class="text-2xl font-semibold flex text-wrap mb-6 gap-x-3 items-center">
				<Briefcase class="size-7" />
				Experiencia laboral
			</h2>			
			<Experience />
		</SectionContainer>

		<SectionContainer id="technology">
			<h2 class="text-2xl font-semibold flex text-wrap mb-6 gap-x-3 items-center">
				<Technology class="size-7" />
				Manejo de tecnologías
			</h2>
			<TechnologyJob />
		</SectionContainer>


		<SectionContainer id="projects">
			<h2 class="text-2xl font-semibold flex text-wrap ms-2 mb-6 gap-x-3 items-center">
				<CodeBracket class="size-7" />
				Proyectos creados
			</h2>
			<CardProjects />						
		</SectionContainer>

		<SectionContainer id="about">
			<h2 class="text-2xl font-semibold flex text-wrap ms-2 mb-6 gap-x-3 items-center">
				<Person class="size-7" />
				Sobre mi
			</h2>
			<About />
		</SectionContainer>
	</main>
</Layout>

<style>
	.movement {
		animation-name: movement-animation; /* Nombre del elemento @keyframes */
		animation-duration: 2.3s; /* Acelera o relentiza el movimiento */
		animation-iteration-count: infinite; /* Cantidad de agitación */
		transform-origin: 75% 75%;
		display: inline-block;
  }
  @keyframes movement-animation {
	0% {
		transform: rotate(0deg);
	}
	10% {
		transform: rotate(14deg);
	}
	20% {
		transform: rotate(-8deg);
	}
	30% {
		transform: rotate(14deg);
	}
	40% {
		transform: rotate(-4deg);
	}
	50% {
		transform: rotate(10deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(0deg);
	}
  }
</style>
