<div>
    <p>
        Mi nombre es Juan José Coppede pero todos me llama juanjo. Fui a una escuela técnica con especialización en electrónica, donde descubrí mi pasión 
        por la programación durante la preparación de un proyecto para la exposición anual de la escuela, conocida como "Expotec". Fue allí donde tuve mi primer encuentro
        con la programación al trabajar con un Arduino.
    </p>
    
    <p>
        
    </p>
    
    <p>
        
    </p>
</div>