<div class="pb-20">
    <p>
        Mi nombre es Juan José Coppede, aunque todos me conocen como Juanjo. Me formé en una escuela técnica con especialización en electrónica, donde descubrí mi pasión por la 
        programación durante la preparación de un proyecto para la exposición anual, conocida como "Expotec". Fue en ese contexto donde tuve mi primer encuentro significativo con 
        la programación, al trabajar en un proyecto de "Procesamiento de Imágenes utilizando Inteligencia Artificial".
    </p>
    
    <p>
        
    </p>
    
    <p>
        
    </p>
</div>