<div
    class="flex flex-col border border-gray-200 rounded-md overflow-hidden shadow-md mb-8"
>
    <div class="relative flex-shrink-0">
        <img
            alt="Imagen de un grupo de personas maravilladas ante un glifo asombroso de ether (ETH)."
            src="../../img/ethereum-1.webp"
            loading="lazy"
            width="320"
            height="234"
            decoding="async"
            data-nimg="1"
            class="object-cover w-full h-full"
            style="color: transparent;"
        />
    </div>
    <div class="p-4">
        <h3 class="m-0 text-2xl font-semibold">
            <a class="text-current no-underline" href="#">Conseguir ETH</a>
        </h3>
        <p class="m-0 text-base leading-6">
            ETH es la moneda de Ethereum y puede usarla en aplicaciones.
        </p>
    </div>
</div>