---
import ProjectItem from './cardProject/ProjectItem.astro'
const PROJECT = [
    {
        img: '../../img/ethereum-1.webp',
        title: 'Conseguir ETH',    
        description: 'ETH es la moneda de Ethereum y puede usarla en aplicaciones.',
    },
    
    {
        img: '../../img/hederagraphvsblock-1.webp',
        title: 'Seleccionar una cartera',    
        description: 'Una cartera permite que se conecte a Ethereum y administre sus fondos.',
    }
]
---

<div class="flex flex-row border border-gray-200 rounded-md overflow-hidden shadow-md mb-8">
    {
        PROJECT.map(project => (
            <ProjectItem {...project} />            
        ))
    }
</div>