---
import Paragraph from "./ui/text/Paragraph.astro";

const currentYear = new Date().getFullYear();
---

<footer class="bg-slate-50/90 ring-1 ring-slate-900/10 mt-24">
    <div class="py-7">        
        <Paragraph text={`© ${currentYear} Juan J. Coppede. Todos los derechos reservados.`} className="text-center"/>
    </div>
</footer>
