---
import Paragraph from "./ui/text/Paragraph.astro";

const currentYear = new Date().getFullYear();
---

<footer class="bg-gray-100 border-t border-gray-300 mt-16">
    <div class="my-7">        
        <Paragraph text={`© ${currentYear} Technology Blueleaf. Todos los derechos reservados.`} className="text-center"/>
    </div>
</footer>
