<header class="sticky top-0 z-10 bg-slate-50/90 dark:bg-slate-700/90 backdrop-blur-sm ring-1 ring-slate-900/10 dark:ring-black/10 flex justify-center items-center py-7 w-full">
    <nav class="flex flex-row gap-x-10 justify-center opacity-80 mx-auto w-[1120px]">
        <a href="#first">Inicio</a>
        <a href="#experience">Experiencia laboral</a>
        <a href="#technology">Tecnologías</a>
        <a href="#projects">Proyectos</a>
        <a href="#about">Sobre mí</a>
        <a href="#contact">Contacto</a>
    </nav>
</header>