---
import { NavLinks } from "./ui/text/NavLinks";
import HamburgerMenuClient from "./HamburgerMenuClient";

const navLinks = [
    { href: "#about-me", label: "Sobre mí" },
    { href: "#experience", label: "Experiencia laboral" },
    { href: "#technology", label: "Tecnologías" },
    { href: "#projects-created", label: "Proyectos" },
    { href: "#contact", label: "Contacto" },
];
---

<nav class="max-w-md md:max-w-2xl lg:max-w-4xl mx-auto py-3 md:py-4 px-10 flex items-center md:justify-center sticky top-7 z-10 bg-light-background backdrop-blur-xl backdrop-filter ring-1 ring-slate-900/10 rounded-full shadow-md">
    <div class="md:hidden">
        <HamburgerMenuClient navLinks={navLinks} client:load />
    </div>
    <div class="flex items-center gap-4">
        <div class="hidden md:flex gap-x-10">
            {
                navLinks.map((link) => (
                    <NavLinks href={link.href} label={link.label} />
                ))
            }
        </div>
    </div>
</nav>
