---
import ProjectItem from './project/ProjectItem.astro'
const PROJECT = [
    {
        title: 'Landing Page - LMS',
        description: 'Una landing page para un sistema de gestión de aprendizaje (LMS).',
        technology: 'React, Tailwind, TypeScript, NodeJS, Express, MySQL y Prisma-ORM.',
        alt: 'Imagen de Ethereum',
        img: '../../img/img-01.png'
    },
    {
        title: 'Backoffice - LMS',
        description: 'Un sistema interno para administrar contenido de la Landing Page y del sistema LMS.',
        technology: 'React, Tailwind, TypeScript, NextJS, Zod, MySQL y Prisma-ORM.',
        alt: 'Imagen de una cartera',
        img: '../../img/img-02.png'
    }
]
---

<div class="flex flex-wrap justify-center gap-14 px6">
    {
        PROJECT.map(project => ( <ProjectItem {...project} /> ))
    }
</div>