---
export interface Props {
    job: string
    title: string
    date: string
    description: string
    jobType: string
}
const { job, title, date, description, jobType } = Astro.props;
---

<li>
    <a href="#" class="items-center block p-3 sm:flex hover:bg-gray-100 dark:hover:bg-gray-700">
        <img class="w-12 h-12 mb-3 me-3 rounded-full sm:mb-0" src="../../../public/img/programmer-dalle.webp" alt="Jese"/>
        <div class="text-gray-600 dark:text-gray-400">
            <span class="block text-lg font-semibold text-gray-900 dark:text-white">{ job }</span>
            <div class="grid grid-cols-1 gap-0.5">
                <span class="block text-sm font-normal">{ title }</span>
                <span class="block text-sm font-normal">{ description }</span>
                <span class="block text-xs font-normal text-gray-500 dark:text-gray-400">{ jobType }</span>
                <time class="block text-xs font-normal text-gray-500 dark:text-gray-400">{ date }</time>            
            </div>
            <span class=""></span>
        </div>
    </a>
</li>