---
import { COLORS } from "../../config/theme";
interface Props {
    job: string
    title: string
    date: string
    jobType: string
}
const { job, title, date, jobType } = Astro.props;
---

<li>            
    <span class=`block text-lg ${COLORS.TITLE_GRAY_TEXT}`>{ job }</span>
    <div class="grid grid-cols-1 gap-1">
        <span class=`${COLORS.EXP_TEXT_SIZE}`>{ title }</span>
        <span class=`${COLORS.GRAY_TEXT_SECONDARY}`>{ jobType }</span>
        <time class=`${COLORS.GRAY_TEXT_SECONDARY}`>{ date }</time>            
    </div>
</li>
